
body {
    font-family: "Montserrat";
}

#title {
  background-color: #FF7F50;
   /*background: linear-gradient(#e66465, #fabf0f);*/
   color: #fff;
}

.container-fluid {
    padding: 3% 10%;
}

h1{
    font-family: "Montserrat";
    font-size: 2.5rem;
    line-height: 1.5;
}

h2{
    font-family: "Montserrat";
    font-size: 2.5rem;
    line-height: 1.5;
}


h3{
    font-family: "Montserrat";
}

p{
    color: gray;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 3.5rem;
    font-weight: bold;
    
}

#navbar-brand-container {
    padding-left: 0px;
    padding-right: 0px;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: "Montserrat";
    font-size: 1.2rem;
}

.download-button{
    margin: 5% 3% 5% 0;
}

.title-image{
    width: 50%;
    margin-right: 0;
    /*transform: rotate(25deg);*/
}
#title-image-align{
    text-align: center;
}
#features{
    padding: 7% 15%;
    background-color: #fff;
}
.feature-box {
    text-align: center;
    padding: 5%;
}

.icon{
    color: #e66465;
    margin-bottom: 2rem;
}
.icon:hover{
    color: #fabf0f;
}
#testimonials {
    
    text-align: center;
    background-color:#FF7F50;
    color: #fff;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color:#FF7F50;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}

#pricing{
    
    text-align: center;
    padding: 7% 15%;
}
#div-cardheader{
    background-color: #FF7F50;
}

#cta{

    padding:7% 15%;
    text-align: center;
    color: #fff;
    background-color: #FF7F50;
}

.cta-heading{
    font-family: "Monsterrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}
#footer{
    padding: 7% 15%;
    text-align: center;
    background-color: #FF7F50;
    color: #fff;

}
.social-icon{
    margin: 20px 10px;
}
#copyright{
    color: #fff;
}

@media (max-width:1028px){

    .title{
        text-align: center;
    }
    .title_image{
        position: static;
        transform: rotate(0deg);
    }
}
